.bgimg {
    background-image: url(../images/phuchifah.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

figure {
    margin: 20px 0;
    padding: 30px;
    border: 5px solid #000000;
    border-radius: 8px;
    background-color: rgba(127, 232, 255, 0.75);
    font-family: "Sriracha";
    font-size: 18px;
}

.border {
    grid-area: footer;
    border: 5px solid #000000;
    border-radius: 8px;
    background-color:#2bc478dc;
    margin: 20px 0;
}

figure img {
    display: block;
    width: 50%;
    border: 5px solid #000000;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

/* ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #000;
}

ul.horizontal li a.active {
    background-color:#ec9410cf;
} */

.nav {
    grid-area: nav;
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul li {
    border-bottom: 1px solid #444;
}

.nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.nav ul li a:hover:not(.active) {
    background-color: #000;
}

.nav ul li a.active {
    background-color:#ec9410cf;
}

h1 {
    /* text-align: center; */
    font-family: "Charmonman", system-ui;
    font-size: 50px;
    font-weight: bold 
}

h2 {
    text-align: center;
    font-family: "Itim", cursive;
    font-size: 30px;
    font-weight: 700 
}

footer {
    text-align: center;
    font-weight: bold;
    font-family: "Charm";
    font-size: 16px;
}

.header {
    grid-area: header;
    background-color: rgb(23, 21, 173);
    color: rgb(255, 195, 0);
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.item {
flex: 1 1 auto;
margin: 10px;
padding: 20px;
background-color: lightgray;
border: 1px solid #ccc;
}

.relative {
    position: relative;
    top: 10px;
    left: 20px;
}

.float-left {
float: left;
margin-right: 10px;
}

.float-right {
float: right;
margin-left: 10px;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-areas:
        "header"    
        "nav"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: #d94726a2;
}

.main {
    grid-area: main;
    padding: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "foooter";
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }

    .nav ul li {
        border: none;
    }

    .nav ul li a {
        border-right: 1px solid #444;
        border-bottom: none;
    }

    .nav ul li a:last-child {
        border-right: none;
    }

    .galler img {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .gallery img {
        width: calc(33.333% - 10px) ;
    }
    
}